h1
{
	color:white;
	text-transform : uppercase;
	font-variant: small-caps;
	font-family:'Open Sans', sans-serif;
	text-align:center;
	margin-top:70px;
	font-size:35px;
}

h1 em
{
	text-transform : uppercase;
	color:rgb(255,180,0);
	font-style: normal;
	font-family:'Open Sans', sans-serif;
	
}

.inputbloc
{
  width:230px;
  height:35px;
  border-radius:1px;
  border-top:rgb(255,180,0) 1px solid;
  border-bottom:rgb(255,180,0) 4px solid;
  border-right:rgb(255,180,0) 2px solid;
  border-left:rgb(255,180,0) 2px solid;
  box-sizing:border-box;
  
  
  outline:none;
  font-size:14pt;
  font-family:'Open Sans', sans-serif;
  
}


.bloc1
{
	position:relative;
	top:20px;  
	height:70%;
	width:450px;
	margin-left:500px;  
	margin-right:auto;
	border-radius:3px;
	font-family:'Open Sans', sans-serif;
	color:white;
	text-align:center;
	font-size:16pt;

}
.bloc1 em
{
	color:rgb(255,180,0);
	font-style: normal;

}


#bloc2
{	font-family:'Open Sans', sans-serif;
	color:white;
   height:70%;
	margin-left:515px;
	margin-right:auto;
	top:15px;
	position:absolute;
	width:450px;
	text-align:center;
	
	

}

#bloc2 em
{
	color:rgb(255,180,0);
	font-style: normal;
}

.boutton{
  height:40px;
  width:220px;
  border-radius:3px;
  border:rgba(255,180,0,.3) 0px solid;
  box-sizing:border-box;
  padding:10px;
  margin-bottom:30px;
  background:rgb(255,180,0);
  color:#FFF;
  font-weight:bold;
  font-size: 12pt;
  transition:background .4s;
  cursor:pointer;
  outline:none;
}

.boutton:hover{
  background:rgb(15,200,180);
  
}

